div.container {
  p {
    font-size: $main-text-size;
    line-height: $main-line-height;
    margin-bottom: $spacing-after-para;

    em,i{
      font-style: italic;
    }

    b,strong{
      font-weight: bold;
    }
  }
}