div.container {
  p {
    font-size: $main-text-size;
    line-height: $main-line-height;
    margin-bottom: $spacing-after-para;

    em,i{
      font-style: italic;
    }

    b,strong{
      font-weight: bold;
    }
  }

  blockquote{
    font-size: 1.5em;
    color: darken($project-primary, 15%);
    line-height: 1.5em;

    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 768px){
      font-size: 1.7em;
      width: 650px;
    }

    &:after{
      content: " ";
      display: table;
      width: 80px;
      padding-top: 12px;
      border-bottom: 4px solid #e6e6e6;
      margin-bottom: 24px;
    }
  }

  div.story-teaser{
    p {
      font-size: 1.5em;
      color: lighten($gray-light, 5%);
    }
  }

  div.credit {
    p {
      font-size: 0.8em;
    }
  }
}