

<div class="page-segment story-playback">
    <div class="audio-player" id="story-player" data-mp3-url="{{audio_file.url}}">
        <div class="audio-player-wave">

        </div>
        <div class="audio-player-controls">
            <a class="audio-player-button audio-player-play enabled"><i class="fa fa-play" aria-hidden="true"></i> PLAY</a>
            <a class="audio-player-button audio-player-pause disabled"><i class="fa fa-pause" aria-hidden="true"></i> PAUSE</a>
            <a class="audio-player-button audio-player-stop disabled"><i class="fa fa-stop" aria-hidden="true"></i> STOP</a>
        </div>
    </div>
</div>